html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body{
    background: linear-gradient(to top, #ac3f3f, #CC0000);
}

#header{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
	background-color: #3466AF;
    box-shadow: 0 10px #ad0202;
}

img{
	width: 20%;
	background-color: #3466AF;
}

main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 2%;
}

#botao-troca{
    border: 5px solid #2468B1;
    font-size: 300%;
    padding: 5%;
    border-radius: 5% 5% 10% 10%;
    color: rgb(255, 255, 255);
	background: linear-gradient(to top, #FCCF00,#b1a60a);
}
#botao-troca:hover{
    cursor: pointer;
}
#botao-troca:active{
    background: linear-gradient(to top, #b1a60a, #FCCF00);
}

.troca{
    font-size: 100px;
}

.pokemon{
    font-size: 50%;
}

.search{
	font-size: 35%;
	background-color: white;
    padding: 1%;
    color: black;
}

.numero{
    padding: 3%;
    background-color: black;
}

.confirm{
	font-size: 30%;
	background-color: white;
	cursor: pointer;
    color: rgb(255, 255, 255);
	background: linear-gradient(to top, #FCCF00,#b1a60a);
    border: 5px solid #363b81;
    padding: 3%;
    border-radius: 5% 5% 10% 10%;
}
.confirm:active{
    background: linear-gradient(to top, #b1a60a, #FCCF00);
}